 <div class="container-fluid">
 <h6 id="date_front" class="text-left">  </h6>
 <h2 id="time_front" class="text-left">  </h2>
 </div>          
<script type="text/javascript">window.onload = date_front('date_front','time_front');</script>