<div class="container-fluid">
   <h6 id="date_front" class="text-left">  </h6>
   <h2 id="time_front" class="text-left">  </h2>
   <h6 id="weather_current" class="text-left"></h6>
   <h6 id="weather_forecast" class="text-left"></h6>
</div>

<div class="container-fluid">
   <h6 id="commute" class="text-left">  </h6>  
</div>   

<div class="container-fluid" id='calendar'>
     
</div>  
          


<script type="text/javascript">window.onload = date_front('date_front','time_front');</script>

<script src="/socket.io/socket.io.js"></script>



<script>
        var socket = io.connect();
              
        socket.on('events', function (msg) {
               $('#calendar').empty();
               var i;
               for (i = 0; i < msg.length; i++) {
                   var start = msg[i].start.dateTime || msg[i].start.date;    
                   $('#calendar').append('<h6>' + start.replace('T', ' ').substr(0, 19) + '  ' + msg[i].summary + '</h6>');
                
               }

            
        });

        socket.on('commute', function (msg) {
                   
            
            document.getElementById("commute").innerHTML ='Timpul necesar pina acasa: '+msg;
                 
        });
        
        socket.on('weathercurrent', function (msg) {
                   
            
             
            document.getElementById("weather_current").innerHTML =+' '+ msg.current.main.temp+' &#8451 '+msg.current.weather[0].description.charAt(0).toUpperCase()+msg.current.weather[0].description.slice(1);
                 
        });

</script>         