<div class="container-fluid">
    <h6 id="weather_current"></h6>
</div>  

<div class="container-fluid">
          
        <table class="table table-responsive table-hover max-height=80%">
            
            <tbody id="eventts">
            <div id="current">
            </div>
            <div id="last">
            </div>
            

                <div></div>
            </tr>
    </tbody>


        </table>
</div>


<script src="/socket.io/socket.io.js"></script>



<script>
        var socket = io.connect();
              
        socket.on('events', function (msg) {
                
               var i;
               for (i = 0; i < msg.length; i++) {
                   var start = msg[i].start.dateTime || msg[i].start.date;    
                   $('#eventts').append('<tr><td><h1>' + start.replace('T', ' ').substr(0, 19) + '</h1></td><td><h1>' + msg[i].summary + '</h1></td></tr>');
                
               }

            
        });

        socket.on('commute', function (msg) {
                   
            $('#eventts').append('<tr><td><h1>Timpul necesar pina acasa</h1></td><td><h1>' + msg + '</h1></td></tr>');
                 
        });
        
        socket.on('weathercurrent', function (msg) {
                   
            $('#eventts').append('<tr><td><h1>Temperatura curenta: </h1></td><td><h1>' + msg.current.main.temp + '</h1></td></tr>');
            $('#eventts').append('<tr><td><h1>Umiditatea curenta: </h1></td><td><h1>' + msg.current.main.humidity + '</h1></td></tr>');
            $('#eventts').append('<tr><td><h1>Viteza vintului curent: </h1></td><td><h1>' + msg.current.wind.speed + '</h1></td></tr>');
            $('#eventts').append('<tr><td><h1>Innourarea curent: </h1></td><td><h1>' + msg.current.clouds.all + '</h1></td></tr>');
            $('#eventts').append('<tr><td><h1>Temperatura max miine: </h1></td><td><h1>' + msg.forecast.list[0].temp.max + '</h1></td></tr>');
            $('#eventts').append('<tr><td><h1>Temperatura min miine: </h1></td><td><h1>' + msg.forecast.list[0].temp.night + '</h1></td></tr>');
            $('#eventts').append('<tr><td><h1>Innourarea miine: </h1></td><td><h1>' + msg.forecast.list[0].clouds + '</h1></td></tr>');
             
            document.getElementById("weather_current").innerHTML = msg.current.main.temp;     
        });

</script>         